$colors: (
    primary: #727275,
    secondary: #5b5a65,
    btn: #11516d,
    title: #055555,
    white: #fff,
    black: #000,
    bg: #0d4e96,
    secondary_bg: #f8f8f8,
);

$font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900,
);
