@use "../app/links.scss" as *;

.bannerimg {
    position: absolute;
    top: 111px;
    width: 100%;
    @media (max-width: 576px) {
        padding-top: 2.5rem;
        padding-right: 2rem;
        top: 95px;
        background-size: cover;
    }
}

.route {
    .routeTitle {
        position: absolute;
        top: 266px;
        z-index: 0;
        text-align: center;
        font-family: "Nunito Sans", sans-serif;
        @include font(white, 80, 32, regular);
    }

    @media (max-width: 576px) {
        .routeTitle {
            @include font(white, 40, 48, regular);
            top: 185px;
            text-align: center;
        }
    }
}
.about-page {
    padding: 75px 0px 130px 0px;
    .title {
        padding-bottom: 45px;
        @media (max-width: 576px) {
            padding-top: 10px;
        }
    }
    p {
        @include font(primary, 16, 26, light);
        display: flex;
        text-align: center;
        padding: 0 0px 0px 0px;
        width: 80%;

        @media (max-width: 576px) {
            padding: 0 0px 0px 0px;
        }
    }
    img {
        padding: 75px 0px 75px 0px;
        @media (max-width: 576px) {
            padding: 10px 0px 10px 0px;
        }
    }
}
