@use "../app/links" as *;

.navbar {
    position: relative;
    z-index: 1;
    .container {
        padding: 0px 0px 100px 0px;
    }
    // custom hamburger button css
    .toggle {
        position: relative;
        width: 70px;
        height: 70px;
        background: #fff;
        box-shadow: 2px 2px 6px rgba(255, 255, 255, 0),
            2px 2px 6px rgba(0, 0, 0, 0.55);

        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        overflow: hidden;
        z-index: 10;
    }

    .toggle span {
        position: absolute;
        width: 40px;
        height: 4px;
        border-radius: 15px;
        background: #0d4e96;
        transition: 0.5s;
    }
    .toggle.collapsed span:nth-child(1) {
        transform: translateY(-15px);
        width: 25px;
        left: 15px;
        background: #0d4e96;
    }
    .toggle span:nth-child(1) {
        transform: translateY(0px) rotate(45deg);
        width: 40px;
        background: #00abe5;
    }
    .toggle.collapsed span:nth-child(2) {
        transform: translateY(15px);
        width: 15px;
        left: 15px;
        background: #0d4e96;
    }
    .toggle span:nth-child(2) {
        transform: translateY(0px) rotate(315deg);
        width: 40px;
        background: #00abe5;
    }
    .toggle span:nth-child(3) {
        transform: translateX(60px);
        background: #00abe5;
    }
    .toggle.collapsed span:nth-child(3) {
        transform: translateX(0px);
        background: #0d4e96;
    }

    @media (min-width: 768px) {
        .toggle {
            display: none;
        }
    }
    @media (min-width: 768px) {
    }
    @media (max-width: 768px) {
        .collapse {
            background: #00abe5;
            padding: 10px 0 10px;
            border-radius: 8px;
            box-shadow: 2px 2px 6px rgba(255, 255, 255, 0),
                2px 2px 6px rgba(0, 0, 0, 0.55);

            ul li {
                list-style: none;
                transition: 0.4s;
                visibility: hidden;
                opacity: 0;
                // transform: translateX(-200px);
                transition-delay: calc(0.1s * var(--i));
            }
            &.show ul li {
                visibility: visible;
                opacity: 1;
                transform: translateX(-140px);
            }
            ul li a {
                position: relative;
                right: 46%;
                width: 260%;
                text-decoration: none;
                color: rgb(255, 248, 248);
                transition: 0s;
                text-align: center;
            }
            ul li a:hover {
                color: #0d4e96;
                background-color: #badbff87;
                left: 142px;
                width: 100%;
                border-radius: 8px;
                transition: 0s;
                font-size: 20px;
                font-weight: 600;
            }
            a:after {
                content: "";
                position: absolute;
                left: 0%;
                width: 0;
                height: 1px;
                bottom: 10px;
                transition: all 0.4s ease;
            }
            a:hover:after {
                width: 0%;
            }
        }
    }
    @media (max-width: 375px) {
        .collapse {
            ul li a {
                right: 40%;
            }
        }
        .container {
            justify-content: space-around;
        }
    }
}
.collapse {
    ul {
        li {
            padding: 0 6px;
            font-family: "Nunito Sans", sans-serif;
            @include font(white, 17, 26, false);
            &:last-child {
                padding-right: 0;
            }
            a {
                position: relative;
                color: map-get($colors, white);
                text-decoration: none;
            }
            a:after {
                content: "";
                position: absolute;
                left: 8px;
                width: 0;
                height: 1px;
                bottom: 10px;
                background-color: map-get($colors, white);
                transition: all 0.4s ease;
            }
            a:hover:after {
                width: 80%;
            }
        }
    }
}
