@use "../links.scss" as *;
.project-section {
    position: relative;
    padding-bottom: 100px;

    h1 {
        font-family: "Khand", sans-serif;
        @include font(title, 40, 36, regular);
        padding-top: 75px;
        padding-bottom: 40px;
        cursor: pointer;
    }
    .project-left-bg {
        height: 318px;
        overflow: hidden;
        width: calc(70% - 685px);
        padding-bottom: 18px;
        position: absolute;
        left: 0;
        top: 50px;
        background-color: #f8f8f8;
        z-index: -1;

        @media (max-width: 2652px) {
            // border: 3px solid red;
            height: 41.7%;
            width: 25%;
        }

        @media (max-width: 1400px) {
            // border: 3px solid red;
            height: 39.7%;
            width: calc(50% - 35%);
            top: 0%;
        }

        @media (max-width: 1200px) {
            // border: 3px solid red;
            height: 44.5%;
            width: calc(50% - 35%);
            top: 0%;
        }
        @media (max-width: 992px) {
            // border: 3px solid red;
            height: 28.8%;
            width: calc(50% - 35%);
            top: 0%;
        }
        @media (max-width: 767px) {
            height: 9.2%;
            width: calc(50% - 252px);
            top: 0%;
        }
        @media (max-width: 576px) {
            // border: 3px solid red;
            height: 11.8%;
            width: calc(80% - 252px);
        }
    }
    p {
        @include font(primary, 16, 26, light);
        padding-right: 22px;
    }
    @media (max-width: 576px) {
        h1 {
            padding-top: 45px;
            padding-bottom: 30px;
            text-align: center;
        }
        p {
            padding-bottom: 75px;
            padding-left: 25px;
            text-align: center;
        }
    }
    .project-item {
        height: 100%;
        padding-bottom: 30px;
        position: relative;
        .project-item-box {
            height: 100%;
            &.first {
                background-color: #f8f8f8;
                border-bottom-right-radius: 100px;
            }
            .image_project {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }

            .project-work {
                position: absolute;
                right: 0;
                bottom: 10%;

                button {
                    background-color: #00abe5;
                    border-radius: 0px 15px;
                    padding: 10px 50px;
                    font-family: "Nunito Sans", sans-serif;
                    @include font(white, 17, 29, semi-bold);
                }
            }
            @media (max-width: 768px) {
                .project-work {
                    position: relative;
                    right: 0;
                    top: 0.5%;

                    button {
                        background-color: #00abe5;
                        border-radius: 0px 15px;
                        padding: 10px 50px;
                        font-family: "Nunito Sans", sans-serif;
                        @include font(white, 17, 29, semi-bold);
                    }
                }
            }
        }
    }
}
