@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

li,
a {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    color: #082f3b;
    text-decoration: none;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

header .logo {
    font-size: 10px;
    font-weight: 500;
    color: #edf0f1;
}
.logo {
    font-size: 10px;
    cursor: pointer;
    margin-right: auto;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    margin: 0 10px;
}
.nav__links li:hover {
    color: #0088a9;
}
