@use "../app/links" as *;

// .container-wrap {
//     background-color: blue;
//     color: map-get($colors, white);
// }

// .header-wrap {
//     padding-top: 35px;
//     position: relative;
//     z-index: 1;
// }
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
}
// d-flex justify-content-center align-self-center
footer {
    .copy {
        background-color: #0d4e96;
        color: map-get($colors, white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px 0;
    }
}
