@use "../app/links" as *;

footer {
    // max-width: 1370px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 75px;

        .footer-col {
            h4 {
                font-family: "Nunito Sans", sans-serif;
                @include font(fTitle, 22, 35, regular);
                padding-bottom: 5px;
            }
            p {
                font-family: "Nunito Sans", sans-serif;
                @include font(primary, 16, 35, regular);
            }
            .icon {
                display: flex;
                img {
                    margin-right: 18px;
                }
            }

            .address {
                font-family: "Nunito Sans", sans-serif;
                @include font(primary, 16, 26, regular);
                padding-bottom: 10px;
            }

            // li {

            // }
        }
    }

    .copy {
        background-color: #0d4e96;
        color: map-get($colors, white);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 22px 0;
    }
}
