@use "../app/links.scss" as *;
.bannerimg {
    position: absolute;
    top: 111px;
    width: 100%;
    @media (max-width: 576px) {
        transform: scale(2);
        padding-top: 2.5rem;
        padding-right: 2rem;
        top: 95px;
    }
}

.route {
    .routeTitle {
        position: absolute;
        top: 266px;
        z-index: 0;
        font-family: "Nunito Sans", sans-serif;
        @include font(white, 80, 32, regular);
    }

    @media (max-width: 576px) {
        .routeTitle {
            @include font(white, 40, 22, regular);
            top: 185px;
        }
    }
}
.gallery-page {
    padding: 75px 0px 130px 0px;
    .title {
        padding: 0px 0px 45px 0px;
        @media (max-width: 576px) {
            padding-top: 20px;
        }
    }
    p {
        @include font(primary, 16, 26, light);

        padding: 0 0px 50px 0px;
        width: 80%;

        @media (max-width: 576px) {
            padding: 10px 0px 10px 0px;
        }
    }
    .spaceBottom {
        padding-bottom: 10px;
    }
}
.project-section .project-item {
    height: 100%;
    padding-bottom: 0px;
    position: relative;
}
.project-section .project-item .project-item-box .image_project {
    height: auto;
    width: 100%;
    object-fit: contain;
}
