@use "../links.scss" as *;
.team {
    position: relative;
    margin-bottom: 100px;

    .title {
        position: relative;
        color: map-get($colors, title);
        text-decoration: none;
        cursor: pointer;
        padding-bottom: 45px;
        padding-top: 10px;
    }
    .title:after {
        content: "";
        position: absolute;
        left: 4.5%;
        width: 0;
        height: 6px;
        top: -5px;
        border-radius: 10px;
        background: #f1f7ff;
        transition: all 0.4s ease;
        z-index: -1;
    }
    .title:hover:after {
        width: 90%;
    }
    p {
        @include font(primary, 16, 26, light);
        display: flex;
        text-align: center;
        padding: 0 0px 30px 0px;
        width: 80%;

        @media (max-width: 576px) {
            padding: 0 20px 30px 20px;
        }
    }
    .team-right-bg {
        height: 512px;
        overflow: hidden;
        width: calc(70% - 685px);
        padding-bottom: 18px;
        position: absolute;
        right: 0;
        bottom: 0;
        top: 525px;
        background-color: #cad8e8;
        &::after {
            @include sudo(100%, 100%, left, 0, top, -20px, bg);
        }

        @media (max-width: 1400px) {
            top: 47.17%;
            height: 615px;
        }
        @media (max-width: 1200px) {
            top: 46.2%;
            height: 642px;
            width: calc(80% - 685px);
        }
        @media (max-width: 992px) {
            top: 41.5%;
            height: 850px;
            width: calc(100% - 685px);
        }
        @media (max-width: 768px) {
            top: 39.6%;
            height: 960px;
            width: 50%;
        }
        @media (max-width: 576px) {
            display: none;
        }
    }

    button {
        border: 1px solid #c3c3c3;
        border-radius: 0px 15px;
        padding: 18px 16px;
        font-family: "Nunito Sans", sans-serif;
        @include font(false, 17, 27, regular);
        transition: 0.6s;
    }
    .btn:hover {
        color: #11516d;
        border: 1px solid #00abe5;
        box-shadow: 2px 2px 6px rgba(255, 255, 255, 0),
            2px 2px 6px rgba(0, 0, 0, 0.55);
    }
    .container {
        position: relative;

        .team-img {
            position: absolute;
            padding-top: 30px;
            padding-left: 10%;
            z-index: -1;

            @media (max-width: 1200px) {
                padding-top: 50px;
            }
            @media (max-width: 992px) {
                padding-top: 170px;
            }
            @media (max-width: 768px) {
                padding-top: 180px;
                padding-left: 5%;
            }
            @media (max-width: 576px) {
                padding-top: 180px;
                padding-left: 2%;
            }
            @media (max-width: 576px) {
                padding-top: 180px;
                padding-left: 0%;
            }

            .img-fluid {
                @media (max-width: 576px) {
                    max-width: 90%;
                }
            }
        }
    }

    .info-wrap {
        padding: 0 0 18px;
        margin: 0;
        background-color: #cad8e8;
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;

        @media (max-width: 768px) {
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
        }
        @media (max-width: 576px) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
    .info-box {
        margin-top: 275px;
        border-top-left-radius: 300px;
        border-bottom-left-radius: 300px;
        background-color: #0d4e96;

        @media (max-width: 768px) {
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
        }
        @media (max-width: 576px) {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        .info {
            padding: 110px 70px 0 210px;
            h2 {
                font-family: "Khand", sans-serif;
                @include font(white, 40, 36, regular);
                padding-bottom: 30px;
                @media (max-width: 576px) {
                    text-align: center;
                }
            }
            p {
                font-family: "Nunito Sans", sans-serif;
                @include font(white, 16, 26, regular);
                text-align: start;
                padding-bottom: 110px;
                @media (max-width: 576px) {
                    padding-bottom: 80px;
                    text-align: center;
                    width: 100%;
                }
            }

            @media (max-width: 1200px) {
                padding: 110px 70px 0 120px;
            }
            @media (max-width: 992px) {
                padding: 110px 70px 0 120px;
            }
            @media (max-width: 768px) {
                padding: 110px 70px 0 100px;
            }
            @media (max-width: 576px) {
                padding: 111px 40px 0 40px;
            }
        }

        .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .img-icon {
                width: 100%;
                height: auto;
                object-fit: cover;

                @media (max-width: 768px) {
                    width: 70%;
                    padding-top: 0px;
                    padding-bottom: 50px;
                }
                @media (max-width: 576px) {
                    width: 60%;
                    padding-top: 0px;
                    padding-bottom: 60px;
                }
            }
        }
    }
}
