@use "../app/links.scss" as *;

.products-ecommerce {
    position: relative;
    padding: 75px 0 100px 0;

    .space {
        padding: 0 0 60px 0;
    }
    h1.title {
        padding-bottom: 45px;

        @media (max-width: 576px) {
            display: block;
            margin: auto;
        }
    }

    button.btn {
        background-color: white;
        border: 1px solid #00abe5;
        border-radius: 0px 15px;
        width: 220px;
        height: 50px;
        padding: 10px;
        text-align: center;
        color: #11516d;
        @include font(false, 17, 28, regular);
        transition: 0.3s;
    }
    button.btn.last {
        margin-left: 40px;
        @media (max-width: 1200px) {
            margin-left: 0px;
        }
        @media (max-width: 992px) {
            margin-top: 0px;
            margin-left: 20px;
        }
        @media (max-width: 768px) {
            margin-top: 20px;
            margin-left: 0;
        }
    }

    @media (max-width: 768px) {
        button.btn {
            background-color: white;
            border: 1px solid #00abe5;
            border-radius: 0px 15px;
            padding: 10px;
            width: 70%;
            height: 70%;
            text-align: center;
            font-family: "Nunito Sans", sans-serif;
            color: #11516d;
            @include font(false, 17, 28, regular);
        }
    }
    button.btn:hover {
        color: white;
        background-color: #00abe5;
    }
    .products-bg {
        height: 61.5%;
        position: absolute;
        left: 0;
        top: 295px;
        width: 100%;
        background-color: #f8f8f8;
        z-index: -1;
        @media (max-width: 992px) {
            top: 450px;
        }
        @media (max-width: 768px) {
            top: 469px;
            height: 74%;
        }
        @media (max-width: 576px) {
            top: 569px;
            height: 74%;
        }
    }
    .image_project {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;

        @media (max-width: 992px) {
            // display: none;
        }
    }
    p {
        font-family: "Nunito Sans", sans-serif;
        @include font(primary, 16, 27, light);
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        margin: 0 0px 40px 0px;
        width: 120%;
    }
    p.text {
        margin: 0 0px 50px;
    }
    .products-item {
        display: flex;
        flex-direction: column;
        .products-icon {
            padding-bottom: 48px;
            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }
        h3 {
            padding-bottom: 20px;
            @include font(secondary, 22, 32, regular);
        }
        p {
            @include font(primary, 16, 26, light);
            align-self: center;
        }
    }
}
